# Ignore everything
*

# Allow directories (so Git can recurse into them)
!*/

# Only allow .cs files inside Assets/Scripts/
!/Assets/
!/Assets/Scripts/
!/Assets/Scripts/**/*.cs

# Allow git-related files
!.gitignore
!README.md
!*.md
!.gitattributes

# Ignore git files in the Library folder
/Library/
Assets/_ThirdPartyAssets/Scripts/PlayerPrefsEditor/CHANGELOG.md
Assets/_ThirdPartyAssets/Scripts/PlayerPrefsEditor/README.md